:root {
    /* Colors */
    --dark-grey: #1d252c;
    --soft-grey: #626262;
    --light-grey: #1b2127;
    --blue: #026fff;
    --background-blue: #fafafa;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}
h2 {
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: var(--light-grey);
    color: white;
}
.header a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    list-style: none;
}
.header ol li {
    list-style: none;
}
.header ol {
    display: flex;
}
/* hero */
.hero {
    display: flex;
    height: 300px;
    align-items: center;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/09/17/48/man-320276_960_720.png');
    /* background-size: 500px 300px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--light-grey);
}
.hero h1 {
    font-size: 4rem;
}
.hero h1 strong {
    color: var(--blue);
}
/* portfolio */
.portfolio {
    padding: 20px;
    background: var(--background-blue);
}
.portfolio h2 {
    margin-bottom: 20px;
}
.project {
    display: flex;
    /* propiedades de border */
    /* border-width: 15px;
    border-style: solid;
    border-color: black; */
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: white;
    /* border: 1px solid grey; */
    border-radius: 10px;
    box-shadow: 0 0 2px var(--soft-grey);
}
.project-details {
    width: 500px;
    padding-right: 10px;
}
.project-title {
    margin-bottom: 10px;
    font-size: 3rem;
}
.project-course, .project-date, .project-url {
    margin-bottom: 10px;
}
.project-description {
    font-size: 2rem;
}
.project-imgContainer {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.project-imgContainer img{
    vertical-align: top;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
/* events */
.events {
    padding: 20px;
}
.event {
    width: 480px;
    margin: 10px;
    background: var(--background-blue);
    /* border: 1px solid var(--dark-grey); */
    box-shadow: 0 0 2px var(--soft-grey);
    border-radius: 10px;
    overflow: hidden;
}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail {
    position: relative;
    margin: 20px 40px;
    margin-top: -40px;
    padding: 20px;
    background: white;
}
.event-description {
    text-align: left;
}
.event-url {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 20px;
    color: var(--blue);
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
}
/* contact */
    .contact {
        display: flex;
        width: 100%;
        height: 150px;padding: 20px;
        justify-content: space-between;
        align-items: center;
        color: white;
        background: var(--blue);
    }
    .social { 
    }
    .social-link {
        display: inline-block;
        padding: 10px;
        font-size: 3rem;
        color: white;
    }
    .form-email h3 {
       text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
    }
    .form-email .email-text {
        margin-right: 10px;
    }
    .form-email .email-box{
        margin-top: 10px;
        padding: 5px 20px;
        padding-left: 40px;
        border-radius: 5px;
        border: 1px solid var(--soft-grey);        
        background-image: url('https://cdn.pixabay.com/photo/2013/07/13/11/30/envelope-158279_960_720.png');
        background-size: 20px;
        background-position: 10px 5px;
        background-repeat: no-repeat;
    }
    .form-email .email-button {
        display: block;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        color: white;
        border: 1px solid;
        border-radius: 5px;        
        background-color: transparent;
    }
/* footer */
.footer {
    height: 90px;
    color: white;
    background: var(--light-grey);
}
.footer div {    
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer div a {
    /* color: var(--blue); */
    color: white;
    text-decoration: none;
}
.footer div img {
    vertical-align: middle;
}