* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1 {
    font-size: 4rem;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}
/* header */
.header {
    background-color: #1b2127;
    color: white;
}
.header a {
    color: white;
    text-decoration: none;
    list-style: none;
}
/* hero */
.hero {
    height: 300px;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/01/09/22/asian-1299320_960_720.png');
    /* background-size: 500px 300px; */
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #1b2127;
}
.hero h1 strong {
    color: #026fff;
}
.project {
    /* propiedades de border */
    /* border-width: 15px;
    border-style: solid;
    border-color: black; */
    border: 1px solid grey;
}
.project-details {
    width: 500px;
}
.project-imgContainer {
    width: 500px;
}
