:root {
    /* Colors */
    --dark-grey: #1d252c;
    --soft-grey: #626262;
    --light-grey: #1b2127;
    --blue: #026fff;
    --background-grey: #fafafa;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: var(--light-grey);
    color: white;
}
.header a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    list-style: none;
}
.header ol li {
    list-style: none;
}
.header ol {
    display: flex;
}
/* hero */
.hero {
    display: flex;
    height: 300px;
    align-items: center;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/09/17/48/man-320276_960_720.png');
    /* background-size: 500px 300px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--light-grey);
}
.hero h1 {
    font-size: 4rem;
}
.hero h1 strong {
    color: var(--blue);
}
/* portfolio */
.portfolio {
    padding: 20px;
    background: var(--background-grey);
}
.portfolio h2 {
    margin-bottom: 20px;
}
.project {
    display: flex;
    /* propiedades de border */
    /* border-width: 15px;
    border-style: solid;
    border-color: black; */
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: white;
    /* border: 1px solid grey; */
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--soft-grey);
}
.project-details {
    width: 500px;
    padding-right: 10px;
}
.project-title {
    margin-bottom: 10px;
    font-size: 3rem;
}
.project-course, .project-date, .project-url {
    margin-bottom: 10px;
}
.project-description {
    font-size: 2rem;
}
.project-imgContainer {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.project-imgContainer img{
    vertical-align: top;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.footer {
    height: 90px;
    color: white;
    background: var(--light-grey);
}
.footer div {    
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer div a {
    /* color: var(--blue); */
    color: white;
    text-decoration: none;
}
.footer div img {
    vertical-align: middle;
}